@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~antd/dist/antd.css';
@import url('../css/panchang.css');

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb:horizontal {
  display: none;
  background: #000;
  border-radius: 10px;
}

.debug * {
  outline: 1px solid gold;
}

.ant-layout {
  background: #080a0c;
}

.ant-modal-content {
  @apply bg-pcdark rounded-lg;
}

.ant-modal-header {
  @apply border-0 bg-pcdark rounded-lg;
}

.ant-modal-wrap {
  background: rgba(25, 29, 36, 0.64);
  backdrop-filter: blur(8px);
}

.text_gradient {
  background: linear-gradient(
    102.88deg,
    #80e8dd 10.19%,
    #7cc2f6 43.04%,
    #af81e4 72%,
    #d855a6 93.18%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.hover\:text_gradient:hover {
  background: linear-gradient(
    102.88deg,
    #80e8dd 10.19%,
    #7cc2f6 43.04%,
    #af81e4 72%,
    #d855a6 93.18%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.menu_item_gradient {
  @apply text-white hover:text_gradient font-bold cursor-pointer;
}

.panchang {
  font-family: 'Panchang-Variable';
}

.bg-dark {
  background-color: #080a0c;
}

.text-content {
  @apply text-gray-500  text-sm font-normal;
}

.text-title {
  @apply text-5xl font-semibold;
}

.text-title-4 {
  @apply text-4xl font-semibold;
}

.box-wallet {
  @apply w-36 lg:w-40 h-36 flex flex-col items-center justify-center gap-3 bg-pcmodal rounded-md  cursor-pointer;
}

.hero {
  background: linear-gradient(
    155.95deg,
    rgba(217, 217, 217, 0) 28.67%,
    #d9d9d9 47.91%,
    #d9d9d9 61.87%,
    rgba(217, 217, 217, 0) 83.07%
  );
}

.border-05 {
  border-width: 0.5px;
}

.border-btn-gradient {
  border-radius: 8px;
  padding: 1.5px;
  background: linear-gradient(
    102.88deg,
    #80e8dd 10.19%,
    #7cc2f6 43.04%,
    #af81e4 72%,
    #d855a6 93.18%
  );
}

.btn-main-inside {
  background: #0e1114;
  border-radius: 8px;
}
